@import "tailwindcss";

.pill-hdr {
    @apply w-full content-center h-full rounded-md py-1 flex flex-row flex-wrap place-content-between items-stretch bg-gradient-to-r from-gray-800 to-gray-600 text-gray-100
}
.pill-content {
    @apply h-full pl-2 flex flex-col place-items-start content-start
}
.pill {
    @apply w-full grid grid-cols-1 rounded-md overflow-hidden shadow-lg content-start
}
.skill {
    @apply rounded-md px-2 mx-0.5 my-0.5 bg-blue-400 text-sm md:text-base
}
.printonly {
    display: none;
}

body { display: none;}
@media only print {
    @page {
        size: 8.5in 11in;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
    }
    html{
        width: 8.5in;
        height: 12in;
        margin: 0;
        /*
         *margin: 30mm 45mm 30mm 45mm; 
         */
        /* change the margins as you want them to be. */
    } 
    body {
        display: inline;
        margin: 0 auto;
        font-family: 'Fira Sans', sans-serif;
        height: 100%;
        position: relative;
    }
    .leftcol,.rightcol {
         display: none;
    }

    .noprint {
        display: none;
    }

    .printonly {
        display: inherit;
    }

    .page-title-header {
        position: fixed;
        top: 0;
        margin: 0 auto;
        width: 100%;
        /*
         *background: #ffffff;
         */
        color: #fafafa;
    }
   
    div.a4page {
        align: center;
        margin: 0;
        background: #ffffff;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 11in;
    }
    div.page-title-header {
        padding-bottom: 0;
    }
    div.section-link {
        display: none;
    }
    a {
        color: #000000;
        text-decoration: none;
    }
}

@media only screen and (max-width: 8.5in) {
    html {
        height: 100%;
    }
    div.a4page {
        max-width: 8.5in;
        align: center;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 1%;
    }
    /* make the "find me online" link invisible when viewing online. */
    #print-link {
        display: none;
    }
    body {
        display: inline;
        margin: 0 auto;
        font-family: 'Fira Sans';
        height: 100%;
        position: relative;
    }
    .leftcol,.rightcol {
         display: none;
    }
}

@media only screen and (min-width: 8.5in) {
    html {
        height: 100%;
    }
    div.a4page {
        /*
         *max-width: 8.5in;
         */
        align: center;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 10%;
        grid-column: 2 / 10;
    }
    /* make the "find me online" link invisible when viewing online. */
    #print-link {
        display: none;
    }
    .background-image {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://www.tripsavvy.com/thmb/7Sp-hbTMterzg49RKp0LMUP8y9Y=/2119x1415/filters:fill(auto,1)/MontBlancGettyIWestend61-59329c745f9b589eb44e83cf.jpg');
        background-size: cover;
        filter: blur(5px);
        transform: scale(1.2);
    }
    body {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 0px;
        margin: 0 auto;
        font-family: 'Fira Sans';
        /*
         *background-image: linear-gradient(white, gray);
         */
        height: 100%;
        position: relative;
    }
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
}

h6 {
    padding: 0;
    margin-top: 0.1em;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    font-size: small;
}

.page-title-header {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
    background: #555555;
    color: #fafafa;
}

.page-content {
    padding-right: 10px;
    position: relative;
}

.sidebar-page {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 20px;
}

.sidebar-page > .left-sidebar {
    padding-left: 10px;
}

.sidebar-page > .left-sidebar > h3 {
    text-align: left;
    padding-bottom: 0 auto;
}

.main-content > .main-section-entry {
    padding: 10px;
    width: 100%;
}

.main-section-entry > .section-header {
    display: grid;
    grid-template-columns: 8fr 8fr 4fr;
    grid-gap: 5px;
    padding-left: 10px;
}

.section-header span.date {
    display: inline;
}

/* AAAAAAAAA */
.main-content > .main-section-entry > .section-header:not(:first-of-type) {
    padding-top: 0px;
}

.section-header > .section-date {
    font-size: small;
    font-weight: 81;
}

.section-header > .section-company {
    font-weight: 400;
    text-align: left;
}

.section-header > .section-location {
    font-size: small;
    font-weight: 200;
    text-align: right;
}

.section-header . .section-name {
    font-size: medium;
    font-weight: 200;
    text-align: left;
}

.section-header . .section-link {
    font-size: small;
    font-weight: 200;
    text-align: left;
}

.main-section-entry > .section-job-title {
    font-size: small;
    font-weight: 81;
    padding-bottom: 10px;
    padding-left: 10px;
}

.main-section-entry > .section-description {
    font-size: small;
    padding-left: 5em;
    align: center;
    text-align: left;
    width: 70%;
}
.leftright-page {
    width:100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    display: grid;
    align-items: center;
    /*
     *flex-flow: row;
     */
}

.leftright-page > .left {
    padding-left: 20px;
    text-align: left;
}

.leftright-page > .right {
    padding-right: 20px;
    text-align: right;
}

.section-description > ul {
    padding-left: 0;
}

.left-sidebar > ul {
    padding-left: 10px;
    text-align: left;
}
